@page "/"

<PageTitle>Home</PageTitle>

<head>
    <title>Sistema de Gestión de Expedientes</title>
    <style>
       /*
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }
       */
        .button {
            margin: 10px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: white;
            transition: background-color 0.3s ease;
        }
        .button:hover {
            background-color: #0056b3;
        }
        .info {
            font-size: 14px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Bienvenido al Sistema de Gestión de Expedientes</h1>
    <p>Para acceder al sistema tiene que iniciar sesión</p>
    <button class="button" @onclick="IniciarSesion">Iniciar sesión</button>
    <p class="info">Si no tiene usuario registrado, por favor cree un nuevo usuario para poder utilizar el sistema</p>
    <button class="button" @onclick="Registrarse">Registrarme</button>

    @* Funcionalidad para los botones *@
    @code {
        private void IniciarSesion()
        {
            NavigationManager.NavigateTo("/iniciarSesion");
        }

        private void Registrarse()
        {
            NavigationManager.NavigateTo("/registroUsuario");
        }
    }
</body>