@page "/"
@rendermode InteractiveServer
@inject NavigationManager Navegador
@inject Logger log

<h1> Bienvenido al Sistema de Gestion de Expedeintes</h1>

@if(log.Logueado)
{
    <h3> Se ha logueado el usuario @log.Nombre (con id = @log.IdUsuario) </h3>

    <button class="btn btn-primary" @onclick="Salir">Salir</button>

    <PerfilUsuario/>
}
else{
    <h3> Usted No esta logueado </h3>
}

@code {
    void Salir()
    {
        log.IdUsuario = 0; 
        log.Nombre = ""; 
        log.Logueado = false;
        log.PermisoLectura = false; 
        
        Navegador.NavigateTo("/login");
    }
}