@page "/{id:int?}"
@rendermode InteractiveServer
@inject NavigationManager Navegador
@inject Logger log

@if(Logueado)
{
    <h3> Se ha logueado el usuario @log.Nombre (con id = @log.IdUsuario) </h3>

    <button class="btn btn-primary" @onclick="Salir">Salir</button>
}
else{
    <Login/>
}

@code {
    bool Logueado = false;

    [Parameter] public int? id {get; set;}

    protected override void OnParametersSet()
    {
        if (log.Logueado)
        {
            Logueado = true;
        }
    }

    void Salir()
    {
        Logueado = false;

        log.IdUsuario = 0; 
        log.Nombre = ""; 
        log.Logueado = false;
        log.SoloLectura = true; 
        
        Navegador.NavigateTo("/login");
    }
}