@page "/{id:int?}"
@rendermode InteractiveServer
@inject NavigationManager Navegador
@inject Logger log

<h1> Bienvenido al Sistema de Gestion de Expedeintes (Grupo 19)</h1>

@if(log.Logueado)
{
    <h3> Se ha logueado el usuario @log.Nombre (con id = @log.IdUsuario) </h3>

    <button class="btn btn-primary" @onclick="Salir">Salir</button>

    <PerfilUsuario/>
}
else{
    <h3> Usted No esta logueado </h3>
}

@code {
    //bool Logueado = false;

    [Parameter] public int? id {get; set;}
/*
    protected override void OnParametersSet()
    {
        if (log.Logueado)
        {
            Logueado = true;
        }
    }
*/
    void Salir()
    {
        //Logueado = false;

        log.IdUsuario = 0; 
        log.Nombre = ""; 
        log.Logueado = false;
        log.SoloLectura = true; 
        
        Navegador.NavigateTo("/login");
    }
}