@page "/"
@rendermode InteractiveServer
@inject NavigationManager Navegador
@inject Logger log

<style>
        .container {
            background: linear-gradient(145deg, #ffffff, #e6e6e6);
            box-shadow: 8px 8px 20px #d1d1d1, -8px -8px 20px #ffffff;
            border-radius: 15px;
            padding: 2rem;
            text-align: center;
        }
        h1 {
            font-size: 2.5rem;
            color: #4a4a4a;
            margin-bottom: 0.5rem;
        }
        p {
            font-size: 1.2rem;
            color: #616161;
            margin-bottom: 1rem;
        }
        .button {
            display: inline-block;
            padding: 0.75rem 1.5rem;
            margin-top: 1rem;
            font-size: 1rem;
            color: #fff;
            background-color: #4caf50;
            border: none;
            border-radius: 8px;
            text-decoration: none;
            box-shadow: 3px 3px 10px #b8b8b8, -3px -3px 10px #ffffff;
            transition: background-color 0.3s ease;
        }
        .button:hover {
            background-color: #45a049;
        }
    </style>

@if(log.Logueado)
{
    <div class="container">
    <h3> ¡Bienvenido usuario: @log.Nombre al sistema SGE! </h3>

    <p> Para cerrar sesion pulse el boton Salir </p>
    <button class="btn btn-primary" @onclick="Salir">Salir</button>
    </div>

    <PerfilUsuario/>
}
else{
    <div class="container">
        <h1>¡Bienvenido al Sistema de Gestión de Expedientes!</h1>
        <p>Gestiona tus documentos de manera eficiente y segura.</p>

        <p>Para ingresar presione en la barra lateral el boton Login</p>

        <p>En caso de ser un usuario nuevo debera registrarse, puede hacerlo con el boton Registrarse</p>

        <p>Usted no se encuentra Logueado en el sistema</p>
    </div>
}

@code {
    void Salir()
    {
        log.IdUsuario = 0; 
        log.Nombre = ""; 
        log.Logueado = false;
        log.PermisoLectura = false; 
        
        Navegador.NavigateTo("/login");
    }
}