@page "/listarExpedientes"
@rendermode InteractiveServer
@inject CasoDeUsoListarExpedientes listarExpedientes
@inject CasoDeUsoExpedienteBaja expedienteBaja

<h3>Listado de Expedientes</h3>

<table class="table">
   <thead>
       <tr>
           <th>ID</th>
           <th>Caratula</th>
           <th>Fecha ultima modificaSao</th>
           <th>Editar</th>
           <th>Eliminar</th>
       </tr>
   </thead>
   <tbody>
       @foreach (var e in lista)
       {
            <tr>
                <td>@e.Id</td>
                <td>@e.Caratula</td>
                <td>@e.FechaHoraCreacion</td>
                <td><button class="btn btn-primary">Editar</button></td>
                <td><button class="btn btn-danger" @onclick="()=>Eliminar(e)">Eliminar</button></td>
           </tr>
       }
   </tbody>
</table>

@code {
    List<Expediente> lista = new List<Expediente>();

    protected override void OnInitialized()
    {
        lista = listarExpedientes.Ejecutar();
    }

    private void Eliminar(Expediente e)
    {
        expedienteBaja.Ejecutar(e.Id, 1);
        lista = listarExpedientes.Ejecutar();
    }
}