@page "/expedientes"
@rendermode InteractiveServer
@inject IExpedienteRepositorio repoE
@inject CasoDeUsoListarExpedientes listarExpedientes

<h3>Listado de Expedientes</h3>

@code {
    List<Expediente> lista = new List<Expediente>();

    //lista = listarExpedientes.Ejecutar();

    protected override void OnInitialized()
   {
       //lista = listarExpedientes.Ejecutar();
   }
}