@page "/listarExpedientes"
@rendermode InteractiveServer
@inject CasoDeUsoListarExpedientes listarExpedientes

<h3>Listado de Expedientes</h3>

<table class="table">
   <thead>
       <tr>
           <th>ID</th>
           <th>Caratula</th>
           <th>Fecha ultima modificaSao</th>
       </tr>
   </thead>
   <tbody>
       @foreach (var ex in lista)
       {
            <tr>
               <td>@ex.Id</td>
               <td>@ex.Caratula</td>
               <td>@ex.FechaHoraCreacion</td>
           </tr>
       }
   </tbody>
</table>

@code {
    List<Expediente> lista = new List<Expediente>();

    protected override void OnInitialized()
    {
        lista = listarExpedientes.Ejecutar();
    }
}