@page "/listarUsuarios"
@rendermode InteractiveServer
@inject CasoDeUsoListarUsuarios listarUsuarios


<h3>Listado de Usuarios</h3>

<table class="table">
   <thead>
       <tr>
           <th>Id</th>
           <th>Nombre</th>
           <th>Apellido</th>
           <th>Correo Electronico</th>
       </tr>
   </thead>
    <tbody>
       @foreach (var u in lista)
       {
            <tr>
               <td>@u.Id</td>
               <td>@u.Nombre</td>
               <td>@u.Apellido</td>
           </tr>
       }
   </tbody>
</table>

@code {
    List<Usuario> lista = new List<Usuario>();

    protected override void OnInitialized()
    {
        if (listarUsuarios != null)
        {
            lista = listarUsuarios.Ejecutar();
        }
    }
}
