@page "/login"
@rendermode InteractiveServer
@inject NavigationManager Navegador
@inject CasoDeUsoUsuarioConsultaPorId consultarUsuario
@inject Logger log

<h1>Inicio sesion</h1>

<input placeholder="Id" @bind="u.Id" class="form-control">
<input placeholder="Contraseña" @bind="u.Contraseña" class="form-control">

<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>

@code {
    Usuario u = new Usuario();
    void Aceptar()
    {  
        Usuario? uR = consultarUsuario.Ejecutar(u.Id);
        if(uR != null)
        {
            if(uR.Contraseña == u.Contraseña)
            {
                log.IdUsuario = u.Id;
                log.Nombre = uR.Nombre;
                log.Logueado = true;

                //autorizacion.IsLoggedIn = true;
                
                // Pone al Admin con permisos de escritura
                if(u.Id == 1)
                {
                    log.SoloLectura = false;
                    Console.WriteLine("Usuario loggeado con permisos de lectura y escritura");
                }
                else{
                    Console.WriteLine("Usuario loggeado con permisos de solo lectura");
                }

                u = new Usuario();

                Navegador.NavigateTo($"/{u.Id}");
            }
            else
            {
                Console.WriteLine("Contraseña incorrecta");
            }
        }
        else
        {
            Console.WriteLine("Usuario no encontrado");
        }
    }
}
