@page "/login"
@rendermode InteractiveServer
@inject NavigationManager Navegador
@inject CasoDeUsoUsuarioConsultaPorId consultarUsuario


<h1>Inicio sesion</h1>

<input placeholder="Id" @bind="u.Id" class="form-control">
<input placeholder="Contraseña" @bind="u.Contraseña" class="form-control">

<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>


@code {
    Usuario u = new Usuario();
    void Aceptar()
    {  
        Usuario? uR = consultarUsuario.Ejecutar(u.Id);
        if(uR != null)
        {
            Navegador.NavigateTo("listarExpedientes/{u.Id}");
        }
        else
        {
            //Navegador.NavigateTo("listarTramites/{u.Id}");
        }
    }
}
