@page "/login"
@inject NavigationManager Navegador
@inject CasoDeUsoUsuarioConsultaPorId consultarUsuario

@if(!encontrado){    
    <h1>Inicio sesion</h1>

    <input placeholder="Id" @bind="u.Id" class="form-control">
    <input placeholder="Contraseña" @bind="u.Contraseña" class="form-control">

    <button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>
}
else 
{
    
}

@code {
    Usuario u = new Usuario();

    [Parameter]
    public bool encontrado { get; set; } = false;

    void Aceptar()
    {  
        encontrado = true;
        //Navegador.NavigateTo("listarTramites");
        /*
        Usuario? uEncontrado = new Usuario();
        uEncontrado = consultarUsuario.Ejecutar(u.Id);

        if(uEncontrado != null){
            encontrado = true;
        }
        else
        {

        }
        */
    }
}
