@page "/nuevoExpediente"
@rendermode InteractiveServer

<h3>Nuevo Expediente</h3>

<div class="container">
    <div class="row">
        <div class="col-md-8">

            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Caratula</label>
                <input type="email" class="form-control" id="inputEmail4">
            </div>

            <div class="mb-3">
                <label for="fechaHoraCreacion" class="form-label">Fecha y Hora de Creación</label>
                <input type="datetime-local" class="form-control" id="fechaHoraCreacion" />
            </div>

            <div class="mb-3">
                <label for="fechaHoraModificacion" class="form-label">Fecha y Hora de Modificación</label>
                <input type="datetime-local" class="form-control" id="fechaHoraModificacion" />
            </div>

            <div class="mb-3">
                <label for="expediente" class="form-label">A que usuario pertenece el Expediente?</label>
                <select class="form-select" id="expediente" aria-label="Expediente">
                    <option selected>Seleccione un expediente</option>
                    <option value="1">Expediente 1</option>
                    <option value="2">Expediente 2</option>
                    <option value="3">Expediente 3</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="tramiteEtiqueta" class="form-label">Etiqueta del Expediente</label>
                <select id="tramiteEtiqueta" class="form-select">
                    <option selected>Seleccione una etiqueta</option>
                    <option value="1">Etiqueta 1</option>
                    <option value="2">Etiqueta 2</option>
                    <option value="3">Etiqueta 3</option>
                </select>
            </div>

        </div>
    </div>
</div>


@code {
    
    private Expediente ex = new Expediente();

/*
    protected override void OnInitialized()
    {
        
        ex.Id = 2;
        ex.IdExpediente = 3;
        ex.TipoTramite = EtiquetaTramite.Resolucion;
        ex.Contenido = "asdfgh";
        ex.FechaHoraCreacion = DateTime.Now;
        ex.FechaHoraModificacion = DateTime.Now;
        ex.IdUsuarioUM = 1;
        
        tramiteAlta.Ejecutar(t, 1);
    }
    */ 
}