@page "/usuario/{Id:int?}"
@rendermode InteractiveServer
@inject CasoDeUsoUsuarioConsultaPorId consultarUsuario
@inject CasoDeUsoUsuarioModificacion modificarUsuario
@inject CasoDeUsoUsuarioAlta usuarioAlta
@inject NavigationManager Navegador

@if (_esNuevoUsuario)
{
    <h3>Agregando un nuevo Usuario</h3>
}
else
{
    <h3>Modificando al Usuario "@u.Id"</h3>
}

<input placeholder="Nombre" @bind="u.Nombre" class="form-control">

<input placeholder="Apellido" @bind="u.Apellido" class="form-control">

<input placeholder="Correo Electrónico" @bind="u.CorreoElectrónico" class="form-control">

<input placeholder="Contraseña" @bind="u.Contraseña" class="form-control">

<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>

@code {
    Usuario u = new Usuario();
    [Parameter] public int? Id {get; set; }
    bool _esNuevoUsuario = true;
    protected override void OnParametersSet()
    {
        if(Id != null)
        {
           var u_hallado = consultarUsuario.Ejecutar(Id.Value);
           if (u_hallado != null)
           {
               u = u_hallado;
               _esNuevoUsuario = false;
           }
        }
    }

    void Aceptar()
    {
        if (_esNuevoUsuario)
        {
            usuarioAlta.Ejecutar(u);
        }
        else
        {
            modificarUsuario.Ejecutar(u);
        }
        u = new Usuario();
        Navegador.NavigateTo("listarUsuarios");
    }
}
