@page "/nuevoTramite"
@rendermode InteractiveServer
@inject NavigationManager Navegador;
@inject CasoDeUsoTramiteAlta tramiteAlta

<h3>Nuevo Tramite</h3>

<label for="inputEmail4" class="form-label">Expediente Asociado</label>
<input placeholder="Expediente Asociado" @bind="t.IdExpediente" class="form-control">

<label for="inputEmail4" class="form-label">Tipo De Tramite</label>
<input placeholder="Tipo De Tramite" @bind="t.TipoTramite" class="form-control">

<label for="inputEmail4" class="form-label">Contenido</label>
<input placeholder="Contenido" @bind="t.Contenido" class="form-control">

<button class="btn btn-primary" @onclick="Agregar">Aceptar</button>


@code {
    private Tramite t = new Tramite();
 
    private void Agregar()
    {
        tramiteAlta.Ejecutar(t, 1);
        t = new Tramite();
        Navegador.NavigateTo("listarTramites");
    }
}
