@page "/tramite/{Id:int?}"
@rendermode InteractiveServer
@inject CasoDeUsoTramiteConsultaPorId consultarTramite
@inject CasoDeUsoTramiteModificacion modificarTramite
@inject CasoDeUsoTramiteAlta tramiteAlta
@inject NavigationManager Navegador
@inject Logger log
@inject IServicioAutorizacion ServicioAutorizacion

@if (log.Logueado)
{
    @if (_esNuevoTramie)
    {
        <h3>Agregando un nuevo Tramite</h3>
    }
    else
    {
        <h3>Modificando al Tramite "@t.Id"</h3>
    }

    <input placeholder="Expediente Asociado" @bind="t.IdExpediente" class="form-control">

    <input placeholder="Tipo De Tramite" @bind="t.TipoTramite" class="form-control">

    <input placeholder="Contenido" @bind="t.Contenido" class="form-control">

    <button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>
}
else 
{
    <h3>No se ha logueado</h3>
}

@code {
    //[Parameter] public bool SoloLectura { get; set; } = false;
    Tramite t = new Tramite();
    [Parameter] public int? Id {get; set; }
    
    //[Parameter] public int IdUsuario {get; set; } = 1;
    bool _esNuevoTramie = true;
    protected override void OnParametersSet()
    {
        if(Id != null)
        {
           var t_hallado = consultarTramite.Ejecutar(Id.Value);
           if (t_hallado != null)
           {
               t = t_hallado;
               _esNuevoTramie = false;
           }
        }
    }
/*
    protected override void OnInitialized()
    {
        IdUsuario = log.IdUsuario;
    }
*/
    void Aceptar()
    {
        if (_esNuevoTramie)
        {
            /*
            if( ServicioAutorizacion.PoseeElPermiso(log.IdUsuario, Permiso.TramiteAlta) ){
                tramiteAlta.Ejecutar(t, log.IdUsuario);
            }
            else 
            {
                Console.WriteLine("No posse el permiso para agregar un Tramite");
            }*/
            
            try 
            {
                tramiteAlta.Ejecutar(t, log.IdUsuario);
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex);
            }
        }
        else
        {
            try 
            {
                modificarTramite.Ejecutar(t, log.IdUsuario);
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex);
            }
        }
        t = new Tramite();
        Navegador.NavigateTo($"listarTramites");
    }

}
