@rendermode InteractiveServer
@inject Logger log

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SGE.UI</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

         
        @if(visible)
        {

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="listarExpedientes">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Expedientes
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="listarTramites">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Tramites
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="listarUsuarios">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Usuarios
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="nuevoExpediente">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Nuevo Expediente
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="nuevoUsuario">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Nuevo Usuario
                </NavLink>
            </div>

            <div class="nav-item px-3">
            <NavLink class="nav-link" href="tramite">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>
                Agregar Tramite
            </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="usuario">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>
                    Agregar Usuario
                </NavLink>
            </div>
        
        }
        

    </nav>
</div>
 
@code {
    bool visible = false;

    protected override void OnParametersSet()
    {
        if (log.IdUsuario == 1){
            visible = true;
        }
    }
}